/*Functions*/
@use 'sass:math';

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.'
  }
}

@function fluid($max: 72, $min: 14) {
  $maxViewportWidth: 1250;
  $minViewportWidth: 290;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(
      #{$minSize * 1rem},
      #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
      #{$maxSize * 1rem}
  );
}

/*Mixins*/
@mixin fluid-text($max: 72, $min: 14) {
  font-size: fluid($max, $min);
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0, 0, 0, 0) !important;
  overflow: hidden !important;
}

/*Media*/
$laptop: 1339.98;
$tablet: 1019.98;
$mobile: 699.98;

@mixin laptop-above {
  @media (width > rem($laptop)) {
    @content;
  }
}

@mixin laptop {
  @media (width <= rem($laptop)) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > rem($tablet)) {
    @content;
  }
}

@mixin tablet {
  @media (width <= rem($tablet)) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > rem($mobile)) {
    @content;
  }
}

@mixin mobile {
  @media (width <= rem($mobile)) {
    @content;
  }
}

/*Fonts*/
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*Variables*/
:root {
  --color-white: #FFFFFF;
  --color-blue:  #0A3B93;
  --color-brown: #6C5F4A;
  --color-linen: #F7EEE5;

  --font-family-base: 'Arial', sans-serif;
  --font-family-accent: 'Lato', sans-serif;

  @include laptop-above {
  --container-width: #{rem(1130)};
  --container-padding-x: #{rem(60)};
  }

  @include laptop {
    --container-width: #{rem(850)};
    --container-padding-x: #{rem(40)};
  }

  @include tablet {
    --container-width: #{rem(570)};
    --container-padding-x: #{rem(20)};
  }

  @include mobile {
    --container-width: #{rem(262)};
    --container-padding-x: #{rem(14)};
  }
}

/*Normalize*/
html {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
}

p, ul, h1, h2, h3, h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

/*Utils*/
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

body {
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-white);
  font-family: var(--font-family-base);
  font-weight: 400;
}

.header {
  height: rem(599);
  background-image: linear-gradient(rgba(138, 123, 96, 0.67), rgba(138, 123, 96, 0.67)), url(../images/bg-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: rem(1250) rem(599);

  @include laptop {
    background-size: cover;
  }

  @include tablet {
    height: rem(314);
    text-align: center;
  }
  &__logo {
    padding: rem(36) rem(11);
    background-color: var(--color-blue);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      padding: rem(22.5) rem(6.5);
    }
    &-image {
      @include tablet {
        width: rem(154);
        height: rem(20);
      }
    }
  }
  &__info {
    width: rem(550);
    margin-top: rem(116);

    @include laptop {
      margin-top: rem(135);
    }

    @include tablet {
      margin: rem(55) auto 0;
      width: rem(322);
    }

    @include mobile {
      width: rem(223);
    }
    &-title {
      font-size: rem(72);
      text-transform: uppercase;
      line-height: rem(80);
      font-weight: 400;
      margin-bottom: rem(15);

      @include laptop {
        margin-bottom: rem(28);
      }

      @include tablet {
        font-size: rem(36);
        line-height: rem(40);
        margin-bottom: rem(20);
      }

      @include mobile {
        font-size: rem(24);
        line-height: rem(24);
      }
    }
    &-desc {
      font-size: rem(26);
      line-height: rem(36);

      @include tablet {
        font-size: rem(16);
        line-height: rem(20);
      }

      @include mobile {
        font-size: rem(16);
        line-height: rem(20);
      }
    }
  }
  &__effect {
    position: relative;
    top: rem(-36);
    left: rem(827);

    @include laptop {
      display: none;
    }
  }
}

.video{
  margin-top: rem(100);
  &__wrap{
    display: flex;
  }
  &__inner{
    width: rem(545);
    height: rem(367);
    margin-left: rem(-35);
    &-fon{
      width: rem(545);
      height: rem(367);
      background-color: var(--color-linen);
    }
    &-youtube{
      z-index: 1;
      position: relative;
      left: rem(35);
      top: rem(-328);
    }
  }
  &__desc{
    margin-left: rem(76);
    &-experience{
      color: var(--color-blue);
      text-transform: uppercase;
      font-family: var(--font-family-accent);
      font-weight: 700;
      font-size: rem(18);
      line-height: rem(30);
      margin: rem(20) 0 rem(32);
    }
    &-text{
      color: var(--color-brown);
      font-size: rem(18);
      line-height: rem(30);
      & p:first-child{
        margin-bottom: rem(12);
      }
    }
  }
}

.product {
  margin-top: rem(120);
  background-color: var(--color-blue);
  display: flex;
  &__inner {
    padding: rem(94) 0 rem(94) rem(60);
    display: flex;
    align-items: center;
    column-gap: rem(38);
  }
  &__desc {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: rem(24);
    line-height: rem(32);
    width: rem(676);
  }
  &__effect {
    position: relative;
    left: rem(-62);
    top: rem(79);
  }
}

.mission {
  background-image: url(../images/bg-mission.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    padding: rem(80) 0 rem(101);
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    gap: rem(40);
  }
  &__title {
    text-transform: uppercase;
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: rem(48);
    line-height: rem(80);
    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: rem(66);
      border: rem(2) solid var(--color-white);
      position: relative;
      top: rem(-16);
      right: rem(30);
    }
    &::after {
      left: rem(30);
    }
  }
  &__subtitle {
    text-transform: uppercase;
    text-align: center;
    font-size: rem(24);
    line-height: rem(28);
  }
  &__button {
    font-size: rem(18);
    line-height: rem(28);
    padding: rem(20) rem(72);
    background-color: var(--color-white);
    color: var(--color-blue);
  }
}

.advantages {
  padding-top: rem(100);
  background-color: var(--color-linen);
  &__title {
    font-size: rem(40);
    line-height: rem(60);
    color: var(--color-blue);
  }
  &__items {
    margin-top: rem(60);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(31);
  }
  .item {
    &__picture {
      display: block;
    }
    &__desc {
      background-color: var(--color-blue);
      height: rem(139);
      p {
        width: rem(316);
        padding-top: rem(20);
        margin-inline: rem(20); // margin-left and margin-right
        font-size: rem(18);
        line-height: rem(22);
      }
    }
  }
}