@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html{
	box-sizing: border-box;
	margin-block-start: 0;
  margin-block-end: 0;
}
*,
*::after,
*::before{
	box-sizing: inherit;
}
a{
	text-decoration: none;
	display: inline-block;
}
p, ul, h1, h2, h3, h4 {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}
body{
	margin: 0;
	background-color: #FFFFFF;
	color: #FFFFFF;
}
.container{
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 60px;
}
.header{
	background-image: linear-gradient(rgba(138, 123, 96, 0.67), rgba(138, 123, 96, 0.67)), url(/images/bg-header.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 1250px 599px;
	&__logo{
		width: 267px;
		height: 103px;
		background-color: #0A398A;
		display: flex;
    align-items: center;
    justify-content: center;
	}
	&__info{
		width: 550px;
		font-family: 'Arial', sans-serif;	
		font-weight: 400;
		margin-top: 116px;
		&-title{
			text-transform: uppercase;
			font-size: 72px;
			line-height: 80px;
		}
		&-descr{
			font-size: 26px;
			line-height: 36px;
		}
	}
	&__effect{
		position: relative;
    top: -36px;
    left: 827px;
	}
}

.video{
	margin-top: -30px;
	&__wrap{
		display: flex;
	}
	&__inner{
		width: 545px;
		height: 367px;
		margin-left: -35px;
		&-fon{
			width: 545px;
			height: 367px;
			background-color: #F7EEE5;
		}
		&-youtube{
			z-index: 1;
			position: relative;
			left: 35px;
			top: -328px;
		}
	}
	&__descr{
		margin-left: 76px;
		&-experience{
			color: #0A3B93;
			text-transform: uppercase;
			font-family: 'Lato', sans-serif;
			font-weight: 700;
			font-size: 18px;
			line-height: 30px;
			margin: 20px 0 32px;
		}
		&-text{
			color: #6C5F4A;
			font-family: 'Arial', sans-serif;
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			& p:first-child{
				margin-bottom: 12px;
			}
		}
	}
}
.product{
	margin-top: 120px;
	height: 252px;
	background-color: #0A3B93;
	display: flex;
	&__inner{
		display: flex;
		align-items: center;
		column-gap: 38px;
		&::after{
			content: '';
			background-image: url(../images/Vector-2.svg);
			flex-shrink: 0;
			background-position: right bottom;
			background-size: 437px 173px;
		}
	}
	&__descr{
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		width: 676px;
	}
	&__effect{
    position: relative;
    left: -46px;
    top: 79px;
	}
}